<ion-view>
     <ion-nav-buttons side="right">
        <div class="bar bar-header item-input-inset no-border" ng-if="isSearchVisible" style="margin-top: -5px; right: 0px;"">
            <label class="item-input-wrapper">
			<form ng-submit="doSearch()" class="line">
			<ul>
				<li class="fl"><input type="search" placeholder="Search" ng-model="searchData.textArea" ng-if="isntPrezzo()"></li>
				<li class="fl"><input class="line" size="5" type="search" placeholder="MinPrice" ng-model="searchData.minPrice" ng-if="!isntPrezzo()"></li>
				<li class="fl"><span>  </span></li>
				<li class="fl"><input class="line" size="5" type="search" placeholder="MaxPrice" ng-model="searchData.maxPrice" ng-if="!isntPrezzo()"></li>
				<!--input type="radio" name="bos"/><input type="radio"/><input type="radio"/ -->
			</ul>
				<input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;"/>
			</form>	
            </label>
        </div>  
        
		<div id='cssmenu' ng-if="isSearchVisible">
			<ul>
				<li class='active has-sub'><a href='#'></a>
					<ul>
					<li class='last'><a href='{{destination}}?criteria=Prezzo'><span>Prezzo</span></a></li>
					<li class='last'><a href='{{destination}}?criteria=Categoria'><span>Categoria</span></a></li>
					<li class='last'><a href='{{destination}}?criteria=Nome'><span>Nome</span></a></li>
					<li class='last'><a href='{{destination}}?criteria=Descrizione'><span>Descrizione</span></a></li>
					</ul>
				</li>
			</ul>
		</div>
		<a data-tap-disabled="true" class=" button button-icon icon positive" ng-click="changeSearchState();" ng-class="{'ion-search':!isSearchVisible,'ion-close-circled':isSearchVisible}"></a>
    </ion-nav-buttons>
	
	    <ion-nav-title ng-show="!isSearchVisible">
        Prodotti Volantino
    </ion-nav-title>
	
  <ion-content class="has-header">
      <ion-list>
	   <ion-item class="fixed-item-dim" ng-repeat="item in items">
	    <ul class="row">
        <ion-item style = "width: 100%;" class="item-avatar no-border" ng-click = "selectProduct('{{item.ID_prodotto}}')">
		<img src="{{item.Immagine}} " />
		<h2>{{item.Nome}}</h2>
		<p>{{item.Descrizione}}</p>
		</ion-item>
		<ion-item class="no-border">
		<button class="button icon ion-star button-{{item.state}} " ng-click="starredManager('{{item.ID_prodotto}}')" ></button>
		</ion-item >
		</ul>
      </ion-item>   
	  </ion-list>
  <ion-infinite-scroll ng-if="!isStarred" on-infinite="loadMore()" distance="5%"></ion-infinite-scroll> 
    </ion-content>
</ion-view>